/*==============================================

        MOBILE RESPONSIVE STYLING

   TODO:

==============================================*/

.welcomePage{
    background-image: url("https://res.cloudinary.com/doaftkgbv/image/upload/v1583859149/backgroundImage-Tablet_v2_ygstfc.png");
    width: auto;
    max-width: 748px;
    height: 100vh;
    max-height: 1098px;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: "Audiowide";
    font-size: 65px;
    /*line-height: 22px;*/
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

li{
    list-style:disc inside;
}

.welcomePage > div > p{
    width: 316px;
    height: 370px;
    /*left: 920px;*/
    /*top: 450px;*/

    font-family: "Nanum Pen";
    font-size: 26px;
    line-height: 85%;

    letter-spacing: 2px;
    transform: rotate(-10deg);
    color: #000000;
    /*padding-left: 50px;*/
    /*padding-top: -20px;*/
    margin: 220px auto;
}

.aboutMe{
    background-color: #F7B90B;
    max-width: 1792px;
}

.aboutMe > h1{
    padding: 70px;
}

/*
  .resumeCards
    .cards
      .cardContent
        .cardContent > h3
        .cardContent > h4
        .cardContent > h5
        .cardContent > p
        .cardContent > ul
 */
.resumeCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card > div > h2{
    height: 30px;
    text-align: center;
    color: white;
    font-family: "Audiowide";
    font-size: 26px;
    padding: 10px;
}


.card {
    width: 100%;
    height: 100%;
    background-color: #4C4443;
    padding: 0 10px;
    max-width: 415px; /*TODO adust this so it looks good on mobile*/
    margin-bottom: 15px;
}

.hideContent{
    display: none;
}

.cardContent{
    background-color: #CAC4C6;
    margin-bottom: 10px;
    padding: 4px;

}

.cardContent > h3{
    font-size: 24px;
    text-align: left;
    padding: 8px 3px;
    font-weight: bold;
}

.cardContent > h4{
    font-size: 20px;
    text-align: left;
    margin: 8px 3px;
}

.cardContent > h5{
    font-size: 18px;
    text-align: left;
    margin: 8px 3px;
    text-indent: 10px;
}

.cardContent > p{
    font-size: 16px;
    text-align: justify;
    padding-left: 15px;
    text-indent: 15px;
    line-height: 20px;
}

.cardContent > ul{
    font-size: 16px;
    text-align: left;
    /*margin: 8px 3px;*/
    /*padding: 10px;*/
}

.achievements{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.year{
    float: right;
    font-size: 14px;
}

.navIcon{
    float: right;

}

.navIcon > img{
    width: 30px;
    height: 30px;
}

.cspoBadge{
    display: flex;
    /*align-self: center;*/
}

.cspoBadge > img{
    width: 64px;
    height: 64px;
    /*background-size: cover;*/

}

.cspoBadge > a{
    text-decoration: none;
    font-size: 16px;
    padding-top: 25px;
    margin-left: 10px;
    color: black;
}

footer{

    background-color: #4C4443;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #F7B90B;
    color: #4C4443;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*float: right;*/
}

.formContainer {
    border-radius: 5px;
    background-color: #CAC4C6;
    padding: 20px;
    width: 90%;
    margin: 0px auto;
}

#message{
    height:200px;
}

.col-75 {
    /*float: left;*/
    width: 90%;
    /*margin-top: 6px;*/
    margin: 3px auto;
}

.spacer{
    height: 50px;
}

p.copyrightNotice{
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 10px;
}

/*==============================================

        TABLET RESPONSIVE STYLING

==============================================*/
@media (min-width:768px){
    .welcomePage{
        background-image: url("https://res.cloudinary.com/doaftkgbv/image/upload/v1583859974/backgroundImage-Tablet_v3_cfnuwt.png");
        width: auto;
        max-width: 1024px;
        height: 100vh;
        max-height: 1087px;
        background-size: cover;
        background-position: center;
    }

    .welcomePage > div > p{
        width: 302px;
        height: 370px;
        /*left: 920px;*/
        /*top: 450px;*/

        font-family: "Nanum Pen";
        font-size: 26px;
        line-height: 85%;

        letter-spacing: 2px;
        transform: rotate(-10deg);
        color: #000000;
        /*padding-left: 50px;*/
        /*padding-top: -20px;*/
        margin: 299px auto;
    }

    .hideContent{
        display: block;
    }

    .hideNav{
        display:none;
    }

    .achievements{
        width: unset;
    }

    .formContainer {
        width: 80%;
    }
}

/*==============================================

        DESKTOP RESPONSIVE STYLING

   TODO: Fix vertical responsive design. Text overlapping About Me section

==============================================*/
@media (min-width:1024px){
    .welcomePage{
        background-image: url("https://res.cloudinary.com/doaftkgbv/image/upload/v1583777219/jeshoots-com-pUAM5hPaCRI-unsplash_hv6oi2.jpg");
        position: page;
        width: auto;
        max-width: 1792px;
        height: 100vh;
        max-height: 1120px;
        /*overflow-y: scroll;*/
        background-size: cover;
        background-position: center;
        /*background-size: 1792px 1120px;*/

    }

    h1{
        font-family: "Audiowide";
        font-size: 77px;
        line-height: 22px;
        padding-top: 50px;
        text-align: center;
    }

    .welcomePage > div > p{
        /*position: absolute;*/
        width: 316px;
        height: 370px;
        /*left: 920px;*/
        /*top: 450px;*/

        font-family: "Nanum Pen";
        font-size: 26px;
        line-height: 85%;

        letter-spacing: 2px;
        transform: rotate(-10deg);
        color: #000000;
        padding-left: 370px;
        /*padding-top: -20px;*/
        margin: 325px auto;
    }

    .hideContent{
        display: block;
    }

    .resumeCards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .achievements{
        display: flex;
        flex-direction: column;
    }

    .card{
        background-color: #4C4443;
    }

    .hideNav{
        display:none;
    }

    .achievements{
        width: unset;
    }

    .formContainer {
        width: 45%;
    }
}